body{
    margin: 0;
    background-color: rgb(73, 73, 73) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input{
    display: flex;
    height:30px;
    width:320px;
}


.btn{
    width:164px;
    margin: 15px;
    border-radius: 15px;
    background-color:  rgb(41, 41, 36);
    color:white;
    font-weight: bold;
    padding: 10px;
}


.btn:hover{
    width:164px;
    margin: 15px;
    border-radius: 15px;
    background-color:  rgb(66, 66, 63);
    color:white;
    font-weight: bold;
    padding: 10px;
}


h1{
    display: flex;
    align-items: center;
    color: white !important;
}


header{
    height: 15vh;
    width: 100%;
    background-color: rgb(41, 41, 36);
    display: flex;
    justify-content: space-around;  
    align-items: center;
}


.pokeCard{
    display: flex;
    width:300px;
    height:200px;
    justify-content: space-between;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    border-radius: 15px;
    margin:10px;
    transition: box-shadow 0.125s, width 0.125s, height 0.125s;
}


.pokeCard:hover{
    box-shadow: 20px 10px 10px rgb(177, 172, 172);
}


.pokeCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
}


.rightSideCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}


.leftSideCard{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


.type{
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: white !important;
    background-color: rgb(138, 250, 138);
    width: 64px;
    margin-left: 15px;
    margin-bottom: 5px;
}


.pokeImg{
    width:80px;
    height:auto;
    margin-right: 15px;
    margin-bottom: 15px;
}


h2{
    margin: 5px;
    color:white !important;
    font-size: 32px;
}

.bigLevel{
    display: flex;
    position:absolute;
    background-color: rgb(85, 84, 84,0.51);
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bigCard{
    width: 500px;
    height:85vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.bigCardInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
}

.bidCardHeader{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    width:100%;
    color: white;
    font-size: 48px;
}

.headPart{
    display: flex;
    flex-direction: column;
    width:80%;
}


.bigCardImg{
    height:250px;
    margin-top: -220px;
    width:auto;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoName{
    display: flex;
    gap:8px;
}


.headerLogo{
    height: 48px;
}


.pokemonInput{
    display: flex;
    flex-direction: column;
    height:50%;
    width:100%;
    background-color: white;
    border-radius: 30px;
    align-items: center;
}

.hover:hover{
    cursor: pointer;
}

.bigCardContent{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    width:100%;
}

.pokeomnStats{
    display: flex;
    flex-direction:column;
    margin: 24px;
    width:80%;
    height:70%;
    justify-content: space-between;
}

@media (max-width:600px){
    header{
        flex-direction: column;
        
    }
    .input{
        width:250px;
    }

    .bigCard{
        width:450px;
        height:70vh;
    }
    .pokemonInput{
        justify-content: center;
    }

    .bigCardImg{
        height:200px;
    }

}


@media (max-width:500px){
    .bigCard{
        width:350px;
        height:50vh;
    }
    .bigCardImg{
        height:100px;
        margin-top: -90px;
    }
    .bigCardContent{
        font-size: 16px;
    }
    .bidCardHeader{
        font-size: 34px;
    }
    ul{
        font-size: 12px;
    }
}

@media (max-width:400px){
    .pokeCard{
        width:260px;
    }
    .bigCard{
        width:300px;
        height:60vh;
    }
    .bidCardHeader{
        font-size: 30px;
    }
    .bigCardImg{
        height:80px;
        margin-top: -72px;
    }
}